.signUpPageContainer{
    background-color: whitesmoke;
    width: 100%;
    flex: 1;
    display: flex;
    padding: 2rem 5rem;
    flex-direction: column;
}
.signUpHeaderContainer{
    /* background-color: orange; */
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem ;
}
.signUpFormContainer{
    background-color: white;
    border-radius: 5px;
    flex: 1;
    border: 1px solid var(--baseColor);
    padding: 0rem;
    overflow: hidden;
    display: flex;
}
.singupFooterContainer{
    /* background-color: orange; */
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
}